.nav-cities {
  margin-block: 1rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.8rem;
  }
  button {
    // border: 1px solid black;
    padding: 0;
  }
}
