// Need to import variables and mixins from here, otherwise it won't work from main.scss (need further investigation).
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 60;
  display: flex;
  flex-direction: column;
  width: 100%;

  .header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 70;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 1.5rem;
    margin-right: 2rem;

    .toggler {
      width: 1.5rem;
      padding: 0;
    }
  }

  .underlay {
    position: absolute;
    right: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    transition: all 0.4s ease;

    .wrapper {
      position: absolute;
      z-index: 50;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5rem 2rem 2rem 2rem;
      width: 80%;
      height: 100%;
      background-color: #fff;
      transition: all 0.4s ease;

      nav {
        color: #000;

        ul {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-inline: 0;
          list-style: none;
        }

        svg {
          width: auto;
        }

        a,
        span {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          color: #000;
          text-decoration: none;
        }

        a {
          &:hover {
            color: $primary-color;
          }
        }
      }

      .nav-secondary {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include sm {
          display: none;
        }
      }

      @include sm {
        justify-content: start;
      }
      @include md {
        width: 35%;
      }
      @include xxl {
        width: 20%;
      }
    }
  }

  &.open {
    .header {
      color: #000;
    }

    .underlay {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);

      .wrapper {
        transform: translateX(0);
      }
    }
  }

  &.closed {
    .underlay {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0);
      pointer-events: none;

      .wrapper {
        transform: translateX(100%);
      }
    }
  }
}
