// Need to import variables from here, otherwise it won't work from main.scss (need further investigation).
@use "../abstracts/variables" as *;

label {
  cursor: pointer;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 0.9rem;
}

// Previous sibling: add * to label if input is required
label:has(+ input[required])::after {
  content: "*";
  margin-left: 3px;
  color: #ff0000;
}
