.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
  width: 100%;

  .bar {
    display: block;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease-out;
  }

  &.open {
    .bar {
      background-color: #000;
      transform-origin: 10%;
    }
    .bar-top {
      transform: rotate(45deg);
    }
    .bar-middle {
      opacity: 0;
    }
    .bar-bottom {
      transform: rotate(-45deg);
    }
  }
  &.closed {
    .bar {
      background-color: #fff;
    }
  }
}
