// Need to import mixins and variables from here, otherwise it won't work from main.scss (need further investigation).
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $font-sans-serif;
  color: #333;
}

img,
svg {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: $font-secondary;
}

main {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 90%;
  margin-inline: auto;
  padding: 1rem;

  @include xxl {
    max-width: 1280px;
  }
}
