// Need to import variables from here, otherwise it won't work from main.scss (need further investigation).
@use "../abstracts/variables" as *;

.page-dashboard {
  section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    background-position: center center;
    background-size: cover;
    color: #fff;

    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &.cold {
      background-image: url("/images/bg-cold-weather.jpg");
    }

    &.normal {
      background-image: url("/images/bg-normal-weather.jpg");
    }

    &.hot {
      background-image: url("/images/bg-hot-weather.jpg");
    }

    .content {
      position: relative;
      z-index: 20;
      text-align: center;

      p {
        font-size: 1.5rem;
        font-weight: 400;
      }

      .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-family: $font-secondary;

        .description {
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        .city {
          font-size: 1rem;
          font-weight: 400;
        }

        .temperature-current {
          font-size: 6rem;
          font-weight: 800;
        }

        .temperature-range {
          display: flex;
          gap: 2rem;
        }
      }
    }
  }
}
