// Need to import variables from here, otherwise it won't work from main.scss (need further investigation).
@use "variables" as *;
@use "sass:map";

// Buttons.
@mixin btn {
  display: inline-flex;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.4rem;
  color: #000;
  background-color: transparent;
  font-family: $font-secondary;
  transition: all 0.2s linear;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@mixin btn-primary {
  color: #fff;
  background-color: $primary-color;
}

@mixin btn-secondary {
  color: #fff;
  background-color: $secondary-color;
}

// Breakpoints.
@mixin xs {
  @media (min-width: map.get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map.get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map.get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map.get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map.get($breakpoints, "xl")) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: map.get($breakpoints, "xxl")) {
    @content;
  }
}

// Custom breakpoints.
@mixin breakpoint($breakpoint: 0) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
